<header th:fragment="header">
    <header>
        <!-- Sub Header -->
        <div class="sub-header">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-sm-8">
                        <div class="left-content">
                            <p>This is an educational <em>HTML CSS</em> template by TemplateMo website.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-4">
                        <div class="right-icons">
                            <ul>
                                <li><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="https://x.com/home" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="https://www.behance.net/" target="_blank"><i class="fa fa-behance"></i></a></li>
                                <li><a href="https://www.linkedin.com/feed/" target="_blank"><i class="fa fa-linkedin"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- ***** Header Area Start ***** -->
        <header class="header-area header-sticky">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <nav class="main-nav">
                            <!-- ***** Logo Start ***** -->
                            <a href="index.html" class="logo">
                                Edu Meeting
                            </a>
                            <!-- ***** Logo End ***** -->
                            <!-- ***** Menu Start ***** -->
                            <ul class="nav">
                                <li><a th:href="@{/}" class="active">Home</a></li>
                                <li><a th:href="@{/meetings}">Meetings</a></li>
                                <li><a th:href="@{/vacancy}">Vacancies</a></li>
                                <li class="has-sub">
                                    <a href="javascript:void(0)">Courses</a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a th:href="@{/course}" th:each="category:${categories}"
                                               th:text="${category.name}"></a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a th:href="@{/contact}">Contact Us</a></li>
                            </ul>
                            <a class='menu-trigger'>
                                <span>Menu</span>
                            </a>
                            <!-- ***** Menu End ***** -->
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        <!-- ***** Header Area End ***** -->
    </header>
</header>

