<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout" xmlns:sec="http://www.w3.org/1999/xhtml">

<section layout:fragment="content">
    <section class="meetings-page" id="meetings">
        <div class="container" style="margin: 150px">
            <div class="row">
                <div class="col-lg-12">
                    <div class="col-7 m-auto">
                        <form method="post">
                            <div class="form-group d-flex">
                                <input type="text" name="keyword" placeholder="Search..." class="form-control">
                                <input type="submit" value="Search" class="btn btn-primary">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div th:each="category : ${categories}" class="col-lg-4 grayscale" >
                            <div class="meeting-item">
<!--                                <div class="thumb">-->
<!--                                    <a style="height: 50px;"><img th:src="${category.image}" alt=""></a>-->
<!--                                </div>-->
                                <div class="down-content" >
                                    <div style="height: 30px">
                                        <a><h4 th:utext="${category.name}"></h4></a>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="main-button-red">
                                            <a th:href="@{/contact}">Join Now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <p>Copyright © 2022 Edu Meeting Co., Ltd. All Rights Reserved.
                <br>Design: <a href="https://templatemo.com/page/1" target="_parent" title="website templates">TemplateMo</a></p>
        </div>
    </section>
</section>
</html>
