<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Template Mo">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <title>Education Template - Meeting Detail Page</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" th:href="@{/assets/css/fontawesome.css}">
    <link rel="stylesheet" th:href="@{/assets/css/templatemo-edu-meeting.css}">
    <link rel="stylesheet" th:href="@{/assets/css/owl.css}">
    <link rel="stylesheet" th:href="@{/assets/css/lightbox.css}">
    <!--

    TemplateMo 569 Edu Meeting

    https://templatemo.com/tm-569-edu-meeting

    -->
</head>

<body>

<section layout:fragment="content">

<section class="meetings-page" id="meetings">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="meeting-single-item">
                            <div class="thumb">
                                <div class="price">
                                    <span th:text="${article.category.name}"></span>
                                </div>
                                <div class="date">
                                    <h6 th:text="${#dates.format(article.created, 'MMM')}"></h6>
                                    <span th:text="${#dates.format(article.created, 'dd')}"></span>
                                </div >
                                <a><img width="400px" height="400px" style="object-fit: cover" th:src="${article.image}" alt=""></a>
                            </div>
                            <div class="down-content">
                                <h4 th:utext="${article.title}"></h4>
                                <hr>
                                <p th:utext="${article.description}"></p>
                                <hr>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="hours">
                                            <h5>Hours</h5>
                                            <p>Monday - Friday: 07:00 AM - 13:00 PM<br>Saturday- Sunday: 09:00 AM - 15:00 PM</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="location">
                                            <h5>Location</h5>
                                            <p>Recreio dos Bandeirantes,
                                                <br>Rio de Janeiro - RJ, 22795-008, Brazil</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="book now">
                                            <h5>Book Now</h5>
                                            <p>010-020-0340<br>090-080-0760</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="share">
                                            <h5>Share:</h5>
                                            <ul>
                                                <li><a href="https://www.facebook.com/" target="_blank">Facebook</a></li>
                                                <li><a href="https://x.com/home" target="_blank">Twitter</a></li>
                                                <li><a href="https://www.behance.net/" target="_blank">Behance</a></li>
                                                <li><a href="https://www.linkedin.com/feed/" target="_blank">Linkedin</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="main-button-red">
                            <a th:href="@{/meetings}">Back To Meetings List</a>
                        </div>
                    </div>


                    <section>
                        <div class="container my-3 py-5 text-body">
                            <div class="row d-flex justify-content-center">
                                <div class="col-12">
                                    <div class="d-flex flex-start">
                                        <div class="card w-100" th:each="comment : ${comments}">
                                            <div class="card-body p-4">
                                                <div class="">
                                                    <h5 th:text="${comment.fullName}"></h5>
                                                    <div class="date">
                                                        <h6 th:text="${#dates.format(comment.createdDate, 'MMM')}"></h6>
                                                        <span th:text="${#dates.format(comment.createdDate, 'dd')}"></span>
                                                    </div >
                                                    <p th:text="${comment.content}"></p>
<!--                                                    <form method="post">-->
<!--                                                        <input type="hidden" name="parentId" th:value="${comment.id}" />-->
<!--                                                        <div class="d-flex justify-content-between align-items-center">-->
<!--                                                        <a href="" class="link-muted">Reply</a>-->
<!--                                                    </div>-->
<!--                                                    </form>-->
<!--                                                    <div th:each="reply : ${comment.replies}">-->
<!--                                                        <p th:text="${reply.content}" style="margin-left: 20px;"></p>-->
<!--                                                    </div>-->
                                                </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section>
                        <div class="container my-3 py-5 text-body" sec:authorize="isAuthenticated()">
                            <div class="row d-flex justify-content-center">
                                <div class="col-12">
                                    <form action="" method="post">
                                         <div class="card">
                                            <div class="card-body p-4">
                                                <div class="d-flex flex-start">
                                                    <div class="w-100">
                                                        <h5>Add a comment</h5>
                                                        <div data-mdb-input-init class="form-outline">
                                                            <textarea name="content" class="form-control" id="textAreaExample" rows="4"></textarea>
                                                            <label class="form-label" for="textAreaExample">What is your view?</label>
                                                        </div>
                                                        <div class="d-flex justify-content-between mt-3">
                                                            <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-danger">
                                                                Send <i class="fas fa-long-arrow-alt-right ms-1"></i>
                                                            </button>
                                                        </div>
                                                        <div sec:authorize="!isAuthenticated()" class="d-flex justify-content-between mt-3">
                                                            <a href="/login" type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-success">Login</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </section>

                    <div class="container">
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="right-info">
                                    <ul>
                                        <li>
                                            <h6>Phone Number</h6>
                                            <span>010-020-0340</span>
                                        </li>
                                        <li>
                                            <h6>Email Address</h6>
                                            <span>info@meeting.edu</span>
                                        </li>
                                        <li>
                                            <h6>Street Address</h6>
                                            <span>Rio de Janeiro - RJ, 22795-008, Brazil</span>
                                        </li>
                                        <li>
                                            <h6>Website URL</h6>
                                            <span>www.meeting.edu</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <p>Copyright © 2022 Edu Meeting Co., Ltd. All Rights Reserved.
            <br>Design: <a href="https://templatemo.com" target="_parent" title="free css templates">TemplateMo</a></p>
    </div>
</section>
</section>

</body>
</html>
