<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout">

<head>
  <style>
    .grayscale {
      filter: grayscale(100%);
    }

    .grayscale:hover {
      filter: none;
      transition: .20s;
    }
  </style>
</head>

<body>
<section  layout:fragment="content">

  <section class="meetings-page" id="meetings">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div th:each="article : ${articles}" class="col-lg-4 grayscale" >
              <div class="meeting-item">
                <div class="thumb">
                  <div class="price">
                    <span th:text="${article.category.name}"></span>
                  </div>
                  <a style="height: 60px;" th:href="@{'/details/' + ${article.id} + '/' + ${article.seoUrl}}"><img th:src="${article.image}" alt=""></a>
                </div>
                <div class="down-content" >
                  <div class="date">
                    <h6 th:text="${#dates.format(article.created, 'MMM')}"></h6>
                    <span th:text="${#dates.format(article.created, 'dd')}"></span>
                  </div >
                  <div style="height: 100px">
                    <a th:href="@{'/details/' + ${article.id} + '/' + ${article.seoUrl}}"><h4 th:utext="${article.title}"></h4></a>
                    <p th:utext="${article.subTitle}"></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="pagination">
                <ul class="pagination">
                  <li th:class="${currentPage == 0 ? 'disabled' : ''}">
                    <a th:if="${currentPage > 0}" th:href="@{/meetings(page=${currentPage - 1}, size=${size})}" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                    <span th:if="${currentPage == 0}">&laquo;</span>
                  </li>
                  <li th:each="i : ${#numbers.sequence(0, totalPages)}"
                      th:classappend="${i == currentPage} ? 'active'">
                    <a th:href="@{/meetings(page=${i}, size=${size})}" th:text="${i + 1}"></a>
                  </li>
                  <li th:classappend="${currentPage + 1 >= totalPages} ? 'disabled'">
                    <a th:href="@{/meetings(page=${currentPage + 1}, size=${size})}" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <p>Copyright © 2022 Edu Meeting Co., Ltd. All Rights Reserved.
        <br>Design: <a href="https://templatemo.com/page/1" target="_parent" title="website templates">TemplateMo</a></p>
    </div>
  </section>
</section>


</body>
</html>
