<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout">

<head>
    <style>
        .grayscale {
            filter: grayscale(100%);
        }

        .grayscale:hover {
            filter: none;
            transition: .20s;
        }
    </style>
</head>

<body>
<section  layout:fragment="content">
    <section class="heading-page header-text" id="top">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h6>Here are our vacancies</h6>
                    <h2>Vacancies</h2>
                    <div class="col-7 m-auto">
                        <form method="post">
                            <div class="form-group d-flex">
                                <input type="text" name="keyword" placeholder="Search..." class="form-control">
                                <input type="submit" value="Search" class="btn btn-primary">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="meetings-page" id="meetings">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div th:each="vacancy : ${vacancies}" class="col-lg-4 grayscale" >
                            <div class="meeting-item">
                                <div class="thumb">
                                    <a style="height: 60px;" th:href="@{'/vacancy/details/' + ${vacancy.id}}"></a>
                                </div>
                                <div class="down-content" >
                                    <div>
                                        <a th:href="@{'/vacancy/details/' + ${vacancy.id}}"><h4 style="justify-content: center" th:utext="${vacancy.name}"></h4></a>
                                        <p th:utext="${vacancy.description}"></p>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="main-button-red">
                                            <a th:href="@{/contact}">Join Now!</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <p>Copyright © 2022 Edu Meeting Co., Ltd. All Rights Reserved.
                <br>Design: <a href="https://templatemo.com" target="_parent" title="free css templates">TemplateMo</a></p>
        </div>
    </section>
</section>


</body>
</html>
