<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/admin/layout">
<div layout:fragment="container" >
    <form th:action="@{/admin/category/create}" method="post">
        <div class="form-group">
           <input type="text" class="form-control" placeholder="Enter name" name="name"/>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Enter photo" name="image"/>
        </div>
        <input type="submit" value="Create" class="btn btn-primary"/>
    </form>
</div>

</body>
</html>